.navbar-toggler:focus{
  outline: none !important;
  box-shadow: none !important;
}

.custom-bg{
  opacity: 0.9 !important;
  background-color: #b5ab85 !important;
  color: #0f020a !important;
}

.nav-link{
  color: #0f020a !important;
}

.count-products {
	position: absolute;
	top: 31.8%;
  right: 15%;

	background-color: #ada480;
	color: #000;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}